.venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
.vscode

# data
# docs
example
output
data/scripts
data/collections
data/executions

my_visualizations
experiment_results
rbctest_output
gpt_response
experiment_our
scripts
